body {
  background-color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, Calibri, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: black;
  padding-top: 10px;
}

button:active {
  transform: translateY(1px);
}

button:focus,
input:focus {
  outline: 0;
}

#screen {
  width: 31ch;
  height: 150px;
  text-align: right;
  background-color: white;
  display: inline-block;
  font-size: inherit;
  border: 2px solid black;
  color: black;
}

#output {
  width: 96%;
  height: 98%;
  text-align: right;
  background-color: white;
  display: inline-block;
  font-size: inherit;
  color: black;
  border: 0px solid black;
}

#row1 button {
  height: 75px;
  width: 10.4ch;
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
  background-color: #DDDDDD;
  font-family: inherit;
  display: inline-block;
}

#lowertable button {
  height: 107px;
  width: 7.8ch;
  text-align: center;
  font-size: inherit;
  border: 2px solid black;
  color: white;
  font-family: inherit;
}

.regbutton {
  background-color: #007EA7;
}

.regbutton:hover {
  background-color: #2E95B7;
}

.sidebutton {
  background-color: #80CED7;
}

.sidebutton:hover {
  background-color: #97D6DE;
}

#row1 button:hover {
  background-color: #EFEFEF;
}